/* ----------------------------------------------------
   created with http://www.codeandweb.com/texturepacker 
   ----------------------------------------------------
   $TexturePacker:SmartUpdate:aa83cfa2151eda4693c01840bb3c6050:5bab7fead4e2bc85500d2b1086c2e935:f4f37dca655c3b27425cfe48938998db$
   ----------------------------------------------------

   usage: <span class="{-spritename-} sprite"></span>

   replace {-spritename-} with the sprite you like to use

*/

.sprite {display:inline-block; overflow:hidden; background-repeat: no-repeat;background-image:url(abc.png);}

.CrystalBall01 {width:69px; height:69px; background-position: -1px -1px}
.CrystalBall02 {width:69px; height:69px; background-position: -1px -72px}
.CrystalBall03 {width:69px; height:69px; background-position: -1px -143px}
.CrystalBall04 {width:69px; height:69px; background-position: -1px -214px}
.CrystalBall05 {width:69px; height:69px; background-position: -1px -285px}
.CrystalBall06 {width:69px; height:69px; background-position: -1px -356px}
